{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h3>用户信息</h3>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <form target="_blank" href="#">
                        <div class="col-md-3 col-md-offset-2">
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="{{ current_user.avatar }}" width="200" height="200">
                                </div>
                            </div>
                            <div class="row margin-top-2">
                                <div class="col-md-9">
                                    <button class="btn btn-primary btn-sm center-h">修改头像</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="row margin-top-1">
                                <div class="col-md-3">
                                    <label class="info-lable">昵称:</label>
                                </div>
                                <div class="col-md-5">
                                    {{ form.name(placeholder='昵称',class=" form-control input-sm",value=current_user.name) }}
                                </div>
                            </div>
                            <div class="row margin-top-1">
                                <div class="col-md-3">
                                    <label class="info-lable">电话:</label>
                                </div>
                                <div class="col-md-5">
                                    {{ form.phone(placeholder='电话',class=" form-control input-sm",value=current_user.phone) }}
                                </div>
                            </div>
                            <div class="row margin-top-1">
                                <div class="col-md-3">
                                    <label class="info-lable">性别:</label>
                                </div>
                                <div class="col-md-5">
                                    {{ form.gender(class=" form-control input-sm",placeholder='性别',value=current_user.gender) }}
                                </div>
                            </div>
                            <div class="row margin-top-1">
                                <div class="col-md-3">
                                    <label class="info-lable">年龄:</label>
                                </div>
                                <div class="col-md-5">
                                    {{ form.age(class=" form-control input-sm",placeholder='年龄',value=current_user.age) }}
                                </div>
                            </div>
                            <div class="row margin-top-1">
                                <div class="col-md-3">
                                    <label class="info-lable">关于我:</label>
                                </div>
                                <div class="col-md-8">
                                    {{ form.about_me(placeholder='关于我',class="form-control",value=current_user.about_me) }}
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">
                    <div class="col-md-12 margin-top-3">
                        {{ form.submit(class="btn btn-primary btn-lg center-h edit-info-btn") }}
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}