html {
    position: relative;
    min-height: 100%;
}

body {
    font-size: 14px;
    margin-bottom: 80px;
}

body > .container {
    padding: 80px 60px 0;
}

a:link, a:visited, a:hover {
    text-decoration: none;
}

.navgation {
    border-radius: 0px;
}

.footer {
    background-color: #e7e7e7;
    position: absolute;
    width: 100%;
    padding: 10px;
    bottom: 0px;
}

.icon {

}

.list {
    margin-top: 20px;
}

.title {
    color: #2d2d2d;
    font-size: 20px;
    /*margin-left: 10px;*/
}

.title-sp {
    font-size: 20px;
    color: red;
    margin-left: 10px;
}

.tag {
    color: #999;
}

.tag-from {
    display: block;
    float: left;
}

.tag-tag {
    display: block;
    float: left;
    padding-left: 40px;
}

.tag-time {
    display: block;
    float: right;
}

.info {
    color: #666;
    font-size: 14px;
    height: 70px;
    overflow: hidden;
}

.from-a {
    padding-top: 5px;
    margin-right: 20px;
}

.go-btn {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    /*margin-right: 20px;*/
}

.tag-font {
    font-size: 16px;
    color: #6b7a88;
    margin-left: 5px;
    padding-bottom: 3px;
}

.slider {
    /*margin-bottom: 20px;*/
    /*padding: 15px;*/
    padding-left: 15px;
    padding-right: 15px;
    height: auto;
    overflow: auto;
}

.slider-info {
    color: #999;
    float: right;
    margin-left: 20px;
    font-size:12px;
}

.content-img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
    max-width: 500px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.comment {
    margin-left: 20px;
    margin-right: 20px;;
}

.comment-time {
    color: #c5c5c5;
    font-size: 12px;
    margin-right: 15px;
}

.comment-reply {
    background-color: #fff7f7;
    margin: 10px;
    padding: 10px;
}

.register-tag {
    color: red;
    display: none;
}

.center-h {
    margin: 0px auto;
    display: block;
}

.center-txt {
    text-align: center;
}
.comment-input{
    margin-top: 50px;
}
.info-lable {
    text-align: right;
    float: right;
    color: #999;
}

.info-content {
    color: #666;
}

.flash {
    padding: 30px;
    background-color: #ffe6c5;
    margin-top: 50px;
    text-align: center;
}

.keywords {
    padding: 2px 4px;
    color: #c7254e;
    border-radius: 4px;
}

.comment-text {
    min-width: 600px;
}
.content-username{
    display: block;
    text-align: center;
    margin-top: 10px;
}
.comment-warnning{
    color: red;
    margin-left: auto;
    margin-right: auto;
    display: none;
}
.comment-title{
    line-height: 30px;
}
.post-info{
    line-height: 25px;
    font-size: 12px;
}
.post-label{
    padding:3px;
    background: #ffcccc;
    border-radius: 2px;
    color: #7a6475;
}
.post-title{
    line-height: 30px;
}
.post-head{
    padding:5px;
    background: #f5f5f5;
    border-radius: 2px;
    font-size: 14px;
    color: #f04848;
}
.post-left{
    width: 25%;
    float: left;
    position: relative;
}
.post-right{
    width:75%;
    float: left;
    position: relative;
}
.margin-top-1 {
    margin-top: 10px;
}

.margin-top-2 {
    margin-top: 15px;
}

.margin-top-3 {
    margin-top: 20px;
}

.margin-left-1 {
    margin-left: 10px;
}

.margin-left-2 {
    margin-left: 15px;
}

.margin-left-3 {
    margin-left: 20px;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.slider-category{
        font-size: 12px;
    display: inline-block;
    float: left;
    width: 33.3%;
    height: 38px;
    text-align: center;
    line-height: 38px;
    box-sizing: border-box;
    margin-left: -1px;
    margin-top: -1px;
    border: 1px solid #f0f0f0;
    position: relative;
    color: #666;
    background-color: white;
    overflow: hidden;
}
.slider-category:hover{
    border: 1px solid #337ab7;
    z-index: 999;
}
.edit-info-btn{
    max-width: 120px;
    margin-bottom: 40px;
    margin-top: 30px;

}




/*回到顶部和二维码*/
.bottom_tools{position:fixed;z-index:1070;right:40px;bottom:40px;}
.bottom_tools>*{font:0/0 a;display:block;margin-top:5px;color:transparent;border:0;background-color:transparent;text-shadow:none}
.qr_img{position:absolute;top:-189px;left:-183px;display:none;}
#scrollUp{width:45px;height:45px;background-image:url(../img/backgrounds.32.png);background-position:-54px -53px;display:none;}
#scrollUp:hover{background-image:url(../img/backgrounds.32.png);background-position:-100px -53px}
#feedback{width:45px;height:45px;background-image:url(../img/backgrounds.32.png);background-position:-102px 0}
#feedback:hover{background-image:url(../img/backgrounds.32.png);background-position:-146px -46px}
.qr_tool{width:45px;height:45px;background-image:url(../img/backgrounds.32.png);background-position:-148px 0;cursor:pointer;}
.qr_tool:hover {width: 45px;height: 45px;background-image: url(../img/backgrounds.32.png);background-position: -192px -46px;}

.page-body {padding-top:10px;background: #fff;height:2500px;}
.page-footer {margin-top:20px;padding-top:10px;background: #444;height:200px;border-top:10px solid #333}

