body {
    font-size: 14px;
}

.navgation {
    border-radius: 0px;
}

.footer {
    background-color: #ecf0f1;
    position: relative;
}

.icon {

}

.list {
    margin-top: 20px;
}

.title {
    color: #2d2d2d;
    font-size: 20px;
    /*margin-left: 10px;*/
}

.title-sp {
    font-size: 20px;
    color: red;
    margin-left: 30px;
}

.tag {
    color: #999;
}

.tag-from {
    display: block;
    float: left;
}

.tag-tag {
    display: block;
    float: left;
    padding-left: 40px;
}

.tag-time {
    display: block;
    float: left;
    padding-left: 40px;
}

.info {
    color: #666;
    font-size: 14px;
    height: 120px;
    overflow: hidden;
}

.from-a {
    padding-top: 5px;
    margin-right: 20px;
}

.go-btn {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    /*margin-right: 20px;*/
}

.tag-font {
    font-size: 16px;
    color: #6b7a88;
    margin-left: 5px;
    padding-bottom: 3px;
}

.slider {
    margin-bottom: 20px;
    padding: 15px;
}

.slider-info {
    color: #999;
    float: right;
    margin-left: 20px;
}

.content-img {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
    max-width: 500px;
}

.comment {
    margin-left: 20px;
    margin-right: 20px;;
}

.comment-time {
    color: #c5c5c5;
    font-size: 12px;
}

.comment-reply {
    background-color: #fffbed;
    margin: 10px;
    padding: 10px;
}
.signin-tag{
    color: red;
}
.center-h{
    margin: 0px auto;
    display: table;
}



.margin-top-1 {
    margin-top: 10px;
}

.margin-top-2 {
    margin-top: 15px;
}

.margin-top-3 {
    margin-top: 20px;
}

.margin-left-1 {
    margin-left: 10px;
}

.margin-left-2 {
    margin-left: 15px;
}

.margin-left-3 {
    margin-left: 20px;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

