<!DOCTYPE html>
<html lang="en">
{% block head %}
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>
            {% block title %}
            {% endblock %}
        </title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
        {#        <link href="//cdn.bootcss.com/flat-ui/2.2.2/css/flat-ui.min.css" rel="stylesheet">#}
        <link href={{ url_for('static',filename='css/stylesheet.css') }} rel="stylesheet">
        <link rel="shortcut icon" href="img/favicon.ico">
        <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
        <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        {#        <script src="//cdn.bootcss.com/flat-ui/2.2.2/js/flat-ui.min.js"></script>#}
        {#        <script src="//cdn.bootcss.com/flat-ui/2.2.2/js/vendor/video.min.js"></script>#}
        <script src={{ url_for('static', filename='js/script.js') }}></script>
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
        <!--[if lt IE 9]>
        <script src="//cdn.bootcss.com/flat-ui/2.2.2/js/vendor/html5shiv.min.js"></script>
        <script src="//cdn.bootcss.com/flat-ui/2.2.2/js/vendor/respond.min.js"></script>
        <![endif]-->
    </head>
{% endblock %}
<body>
{% block nav %}
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-4">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href={{ url_for('main.index') }}>好货驿站</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-4">
                <ul class="nav navbar-nav">
                    <li><a href="#">国内资讯<span class="navbar-unread">1</span></a></li>
                    <li class="active"><a href="#">海涛资讯</a></li>
                    <li><a href="#">超便宜</a></li>
                </ul>
                <form class="navbar-form navbar-left" target="_blank" action="#" role="search">
                    {#                    <div class="form-group">#}
                    {#                        <div class="input-group">#}
                    {#                            <input class="form-control" type="search" placeholder="Search">#}
                    {#                        <span class="input-group-btn">#}
                    {#                          <button type="submit" class="btn"><span class="fui-search"></span></button>#}
                    {#                        </span>#}
                    {#                        </div>#}
                    {#                    </div>#}
                    <div class="input-group">
                        <input class="form-control" id="navbarInput-01" type="search" placeholder="Search"/>
                        <span class="input-group-btn">
                          <button type="submit" class="btn"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    {% if not current_user.is_authenticated %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">{{ current_user.username }}
                                <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href={{ url_for('auth.collect') }}>收藏</a></li>
                                <li><a href={{ url_for('auth.info') }}>个人资料</a></li>
                                <li class="divider"></li>
                                <li><a href={{ url_for('auth.logout') }}>退出登录</a></li>
                            </ul>
                        <li><a href="#">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                        </li>
                    {% else %}
                        <li><a href="#" data-toggle="modal" data-target="#myModal">登陆</a></li>
                        <li><a href={{ url_for('auth.register') }}>注册</a></li>
                    {% endif %}


                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </nav>
{% endblock %}
<div id="login_panel"></div>
{#<div style="width: 100%;height: 70px"></div>#}
{% block content %}
    <div class="container">
        <div class="row">
            {% block left %}

            {% endblock %}
            {% block right %}
                <div class="col-md-4">
                    <div class="slider">
                        <h4>最近更新</h4>
                        <div class="row margin-top-1">
                            <div class="col-md-3">
                                <img src="avatar.png" height="80" width="80" class="">
                            </div>
                            <div class="col-md-9">
                                <a href="#" target="_blank">
                                    <p>我是新闻标题,哈哈哈哈哈哈爱的电商是</p>
                                </a>
                                <p class="">
                                    <a href="#" target="_blank" class="slider-info">
                                        收藏&nbsp17
                                    </a>
                                    <a href="#" target="_blank" class="slider-info">
                                        评论&nbsp17
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="row margin-top-1">
                            <div class="col-md-3">
                                <img src="avatar.png" height="80" width="80" class="">
                            </div>
                            <div class="col-md-9">
                                <a href="#" target="_blank">
                                    <p>我是新闻标题,哈哈哈哈哈哈爱的电商是</p>
                                </a>
                                <p class="">
                                    <a href="#" target="_blank" class="slider-info">
                                        收藏&nbsp17
                                    </a>
                                    <a href="#" target="_blank" class="slider-info">
                                        评论&nbsp17
                                    </a>
                                </p>
                            </div>
                        </div>
                        <div class="row margin-top-1">
                            <div class="col-md-3">
                                <img src="avatar.png" height="80" width="80" class="">
                            </div>
                            <div class="col-md-9">
                                <a href="#" target="_blank">
                                    <p>我是新闻标题,哈哈哈哈哈哈爱的电商是</p>
                                </a>
                                <p class="">
                                    <a href="#" target="_blank" class="slider-info">
                                        收藏&nbsp17
                                    </a>
                                    <a href="#" target="_blank" class="slider-info">
                                        评论&nbsp17
                                    </a>
                                </p>
                            </div>
                        </div>
                        <hr>
                    </div>
                    <div class="slider">
                        <h4>今日更新(476条)</h4>
                        <ul class="list-unstyled">
                            <li>
                                <a href="#" target="_blank">
                                    <span>什么值得买</span><span class="float-right">17</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <span>什么值得买</span><span class="float-right">17</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <span>什么值得买</span><span class="float-right">17</span>
                                </a>
                            </li>
                        </ul>
                        <hr>
                    </div>
                </div>
            {% endblock %}
        </div>
    </div>
    </div>
{% endblock %}

{% block footer %}
    <div class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4"><a href="#" class="" target="_blank"><p class="text-center">关于我们</p></a></div>
                <div class="col-md-4"><a href="#" class="" target="_blank"><p class="text-center">免责声明</p></a></div>
                <div class="col-md-4"><a href="#" class="" target="_blank"><p class="text-center">友情链接</p></a></div>
            </div>
            <div class="row ">
                <div class="col-md-12">
                    <p class="text-center">Copyright 2016 ©好货驿站 </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
<!-- /.container -->

</body>
</html>
