{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h3>用户信息</h3>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <form target="_blank" href="#">
                        <div class="col-md-3 col-md-offset-2">
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="avatar.png" width="200" height="200">
                                </div>
                            </div>
                            <div class="row margin-top-2">
                                <div class="col-md-9">
                                    <button class="btn btn-primary btn-sm center-h">修改头像</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="row margin-top-1">
                                <div class="col-md-3">
                                    <label class="info-lable">昵称:</label>
                                </div>
                                <div class="col-md-5">
                                    <input class=" form-control input-sm"/>
                                </div>
                            </div>
                            <div class="row margin-top-1">
                                <div class="col-md-3">
                                    <label class="info-lable">邮箱:</label>
                                </div>
                                <div class="col-md-5">
                                    <input class=" form-control input-sm"/>
                                </div>
                            </div>
                            <div class="row margin-top-1">
                                <div class="col-md-3">
                                    <label class="info-lable">电话:</label>
                                </div>
                                <div class="col-md-5">
                                    <input class=" form-control input-sm"/>
                                </div>
                            </div>
                            <div class="row margin-top-1">
                                <div class="col-md-3">
                                    <label class="info-lable">性别:</label>
                                </div>
                                <div class="col-md-5">
                                    <input class=" form-control input-sm"/>
                                </div>
                            </div>
                            <div class="row margin-top-1">
                                <div class="col-md-3">
                                    <label class="info-lable">年龄:</label>
                                </div>
                                <div class="col-md-5">
                                    <input class=" form-control input-sm"/>
                                </div>
                            </div>
                            <div class="row margin-top-1">
                                <div class="col-md-3">
                                    <label class="info-lable">关于我:</label>
                                </div>
                                <div class="col-md-8">
                                    <textarea class="form-control" rows="4"></textarea>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row margin-top-3">
                    <div class="col-md-12 margin-top-2">
                        <button class="btn btn-primary center-h">保存信息</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}