{% extends "base.html" %}
{% import '_macros.html' as macros %}
{% block title %}好货驿站--只为优惠生活{% endblock %}
{% block category %}{{ macros.build_category(category) }} {% endblock %}
{% block left %}
    <div class="col-md-8">
        {% if is_search %}
            <div class="row ">
                <div class="col-md-12">
                    <h2>站内搜索&nbsp;&nbsp;&nbsp;&nbsp;<span class="keywords">“{{ keywords }}“</span></h2>
                </div>
            </div>
            {% if posts|length==0 %}
                <div class="row" style="margin-top:100px">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="center-txt">很抱歉，没有找到<span class="keywords">“{{ keywords }}”</span> 的相关结果</h3>
                            </div>
                        </div>
                        <div class="row margin-top-2">
                            <div class="col-md-12">
                                <p class="center-txt">请修改搜索选项或尝试其他搜索词</p>
                            </div>
                        </div>
                    </div>
                </div>

            {% endif %}
        {% endif %}

        {% if tag %}
            <div class="row ">
                <div class="col-md-12">
                    <h2>包含标签"<span class="keywords">“{{ tag }}“</span>"的好货</h2>
                </div>
            </div>
            {% if posts|length==0 %}
                <div class="row" style="margin-top:100px">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="center-txt">很抱歉，没有找到与标签<span class="keywords">“{{ tag }}”</span> 的相关结果</h3>
                            </div>
                        </div>
                    </div>
                </div>

            {% endif %}
        {% endif %}

        {% if classification %}
            <div class="row ">
                <div class="col-md-12">
                    <h2><span class="keywords">“{{ classification }}“</span>分类下的好货</h2>
                </div>
            </div>
            {% if posts|length==0 %}
                <div class="row" style="margin-top:100px">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="center-txt">很抱歉，<span class="keywords">“{{ classification }}”</span> 分类下没有结果
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>

            {% endif %}
        {% endif %}

        {% for post in  posts %}
            <div class="row list">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12 post-title">
                            <a href="#" target="_blank"><span
                                    class="post-head">{{ post.store }}</span></a>
                            &nbsp;&nbsp;
                            <a href={{ url_for('main.post',id=post.id) }} target="_blank" class="title">
                                {{ post.title }}
                                <span class="title-sp">{{ post.special_title }}</span>
                            </a>
                        </div>
                    </div>
                    <div class="row margin-top-1">
                        <div class="col-md-12">
                            <div class="post-left">
                                <a href="{{ url_for('main.post',id=post.id) }}" target="_blank">
                                    <img src={{ post.img }} width="150" height="150"/>
                                </a>
                            </div>
                            <div class="post-right">
                                <div class="row">
                                    <div class="col-md-12 post-info">
                                        <span class="tag-from tag">来自:{{ post.from_name }}</span>
                                        <div class="tag-tag tag">标签:{{ date }}
                                            {% for t in post.tags %}
                                                <a href="{{ url_for('main.tags',tag=t.name) }}" target="_blank"
                                                   class="post-label">{{ t.name }}</a>
                                            {% endfor %}
                                        </div>
                                        <span class="tag-time tag">{{ post.timestamp|format_date }}</span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="info margin-top-2">
                                            {{ post.content|slug }}
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <i class="glyphicon glyphicon-thumbs-up" style="padding-top: 7px"></i>
                                        <sp class=" tag-font">{{ post.up }}</sp>
                                        <i class="glyphicon glyphicon-thumbs-down margin-left-3"></i><span
                                            class=" tag-font">{{ post.down }}</span>
                                        <a href={{ url_for('main.post',id=post.id)+'#comment' }}><i
                                                class="glyphicon glyphicon-comment margin-left-3"></i><span
                                                class=" tag-font">{{ post.comment_num }}</span></a>
                                        <a target="_blank" class="collect_a">
                                            <i class="glyphicon glyphicon-star-empty margin-left-3"
                                               style="color: #34495e"></i>
                                            <span class=" tag-font">{{ post.collect }}</span>
                                        </a>
                                        <a target="_blank" href={{ url_for('main.post',id=post.id) }} class="btn
                                           btn-primary
                                           float-right go-btn">查看 ></a>
                                        <a target="_blank" class="from float-right from-a">{{ post.store }}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        {% endfor %}
        {% if pagination %}
            {{ macros.pagination_widget(pagination,'main.index') }}
        {% endif %}
    </div>
{% endblock %}