{% extends "base.html" %}
{% block title %}好货驿站--只为优惠生活{% endblock %}
{% block left %}
<div class="col-md-8">
                    <div class="row list">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="#" target="_blank"><span class="label label-default icon">淘宝</span></a>
                                    &nbsp;&nbsp;
                                    <a href="#" target="_blank">
                                        <span class="title">这是我的我的标题,这是标题,这是标题这是标题这是标题这是标题</span>
                                        <span class="title-sp">只要998,呵呵哒</span>
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <a href="#" target="_blank">
                                        <img src="./avatar.png">
                                    </a>
                                </div>
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <span class="tag-from tag">来自:京东</span>
                                            <div class="tag-tag tag">标签:
                                                <a href="#" target="_blank" class="label label-default">标签</a>
                                                <a href="#" target="_blank" class="label label-default">标签</a>
                                                <a href="#" target="_blank" class="label label-default">标签</a>
                                            </div>
                                            <span class="tag-time tag">时间:21:00</span>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12">
                                            <p class="info margin-top-2">这是文章的内容,这是文章的内容这是文章的内容这是文章的内容这是文章的内容,
                                                这是文章的内容这是文章的内容这是文章的内容这是文章的内容这是文章的内容,这是文章的内容这是文章的内容,
                                                这是文章的内容这是文章的内容这是文章的内容这是文章的内容这是文章的内容,这是文章的内容这是文章的
                                                内容这是文章的内容这是文章的内容这是文章的内容,这是文章的内容这是文章的内容这是文章的内容这是文
                                                章的内容这是文章的内容,这是文章的内容这是文章的内容这是文章的内容这是文章的内容这是文章的内容
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <i class="glyphicon glyphicon-thumbs-up" style="padding-top: 7px"></i>
                                            <sp class=" tag-font">1</sp>
                                            <i class="glyphicon glyphicon-thumbs-down margin-left-3"></i><span
                                                class=" tag-font">0</span>
                                            <i class="glyphicon glyphicon-comment margin-left-3"></i><span
                                                class=" tag-font">0</span>
                                            <a href="#" target="_blank">
                                                <i class="glyphicon glyphicon-star-empty margin-left-3"
                                                   style="color: #34495e"></i>
                                                <span class=" tag-font">12</span>
                                            </a>
                                            <a target="_blank" class="btn btn-primary float-right go-btn">查看 ></a>
                                            <a href="#" target="_blank" class="from float-right from-a">京东</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
{% endblock %}