<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Flat UI Free 101 Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Loading Bootstrap -->
    <link href="./css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="./css/flat-ui.min.css" rel="stylesheet">
    <link href="./css/stylesheet.css" rel="stylesheet">

    <!--<link rel="stylesheet" href="./css/font-awesome.min.css">-->
    <!--[if IE 7]>
    <!--<link rel="stylesheet" href="./css/font-awesome-ie7.min.css">-->
    <!--<![endif]&ndash;&gt;-->

    <link rel="shortcut icon" href="img/favicon.ico">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
    <script src="js/vendor/html5shiv.js"></script>
    <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<nav class="navbar navbar-default navbar-lg navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-4">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="#">好货驿站</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse-4">
            <ul class="nav navbar-nav">
                <li><a href="#">国内资讯<span class="navbar-unread">1</span></a></li>
                <li class="active"><a href="#">海涛资讯</a></li>
                <li><a href="#">超便宜</a></li>
            </ul>
            <form class="navbar-form navbar-left" target="_blank" action="#" role="search">
                <div class="form-group">
                    <div class="input-group">
                        <input class="form-control" type="search" placeholder="Search">
                        <span class="input-group-btn">
                          <button type="submit" class="btn"><span class="fui-search"></span></button>
                        </span>
                    </div>
                </div>
            </form>
             <ul class="nav navbar-nav navbar-right">
                <li><a href="#" >登陆</a></li>
                <li><a href="#" >注册</a></li>
                <!--<li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">MonsterCritic <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">收藏</a></li>
                        <li><a href="#">个人资料</a></li>
                        <li class="divider"></li>
                        <li><a href="#">退出登录</a></li>
                    </ul>
                </li>-->
                <!--<li><a href="#"><span class="visible-sm visible-xs">Settings<span class="fui-gear"></span></span><span
                        class="visible-md visible-lg"><span class="fui-gear"></span></span></a></li>-->
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</nav>
<div style="width: 100%;height: 90px"></div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="row list">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="#" target="_blank"><span class="label label-default icon">淘宝</span></a>
                            &nbsp;&nbsp;
                            <a href="#" target="_blank">
                                <span class="title">这是我的我的标题,这是标题,这是标题这是标题这是标题这是标题</span>
                                <span class="title-sp">只要998,呵呵哒</span>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <a href="#" target="_blank">
                                <img src="./avatar.png">
                            </a>
                        </div>
                        <div class="col-md-8">
                            <div class="row">
                                <div class="col-md-12">
                                    <span class="tag-from tag">来自:京东</span>
                                    <div class="tag-tag tag">标签:
                                        <a href="#" target="_blank" class="label label-default">标签</a>
                                        <a href="#" target="_blank" class="label label-default">标签</a>
                                        <a href="#" target="_blank" class="label label-default">标签</a>
                                    </div>
                                    <span class="tag-time tag">时间:21:00</span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <p class="info margin-top-2">这是文章的内容,这是文章的内容这是文章的内容这是文章的内容这是文章的内容,
                                        这是文章的内容这是文章的内容这是文章的内容这是文章的内容这是文章的内容,这是文章的内容这是文章的内容,
                                        这是文章的内容这是文章的内容这是文章的内容这是文章的内容这是文章的内容,这是文章的内容这是文章的
                                        内容这是文章的内容这是文章的内容这是文章的内容,这是文章的内容这是文章的内容这是文章的内容这是文
                                        章的内容这是文章的内容,这是文章的内容这是文章的内容这是文章的内容这是文章的内容这是文章的内容
                                    </p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <i class="glyphicon glyphicon-thumbs-up" style="padding-top: 7px"></i>
                                    <sp class=" tag-font">1</sp>
                                    <i class="glyphicon glyphicon-thumbs-down margin-left-3"></i><span
                                        class=" tag-font">0</span>
                                    <i class="glyphicon glyphicon-comment margin-left-3"></i><span
                                        class=" tag-font">0</span>
                                    <a href="#" target="_blank">
                                        <i class="glyphicon glyphicon-star-empty margin-left-3"
                                           style="color: #34495e"></i>
                                        <span class=" tag-font">12</span>
                                    </a>
                                    <a target="_blank" class="btn btn-primary float-right go-btn">查看 ></a>
                                    <a href="#" target="_blank" class="from float-right from-a">京东</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="slider">
                <h4>最近更新</h4>
                <div class="row margin-top-1">
                    <div class="col-md-3">
                        <img src="avatar.png" height="80" width="80" class="">
                    </div>
                    <div class="col-md-9">
                        <a href="#" target="_blank">
                            <p>我是新闻标题,哈哈哈哈哈哈爱的电商是</p>
                        </a>
                        <p class="">
                            <a href="#" target="_blank" class="slider-info">
                                收藏&nbsp17
                            </a>
                            <a href="#" target="_blank" class="slider-info">
                                评论&nbsp17
                            </a>
                        </p>
                    </div>
                </div>
                <div class="row margin-top-1">
                    <div class="col-md-3">
                        <img src="avatar.png" height="80" width="80" class="">
                    </div>
                    <div class="col-md-9">
                        <a href="#" target="_blank">
                            <p>我是新闻标题,哈哈哈哈哈哈爱的电商是</p>
                        </a>
                        <p class="">
                            <a href="#" target="_blank" class="slider-info">
                                收藏&nbsp17
                            </a>
                            <a href="#" target="_blank" class="slider-info">
                                评论&nbsp17
                            </a>
                        </p>
                    </div>
                </div>
                <div class="row margin-top-1">
                    <div class="col-md-3">
                        <img src="avatar.png" height="80" width="80" class="">
                    </div>
                    <div class="col-md-9">
                        <a href="#" target="_blank">
                            <p>我是新闻标题,哈哈哈哈哈哈爱的电商是</p>
                        </a>
                        <p class="">
                            <a href="#" target="_blank" class="slider-info">
                                收藏&nbsp17
                            </a>
                            <a href="#" target="_blank" class="slider-info">
                                评论&nbsp17
                            </a>
                        </p>
                    </div>
                </div>
                <hr>
            </div>
            <div class="slider">
                <h4>今日更新(476条)</h4>
                <ul class="list-unstyled">
                    <li>
                        <a href="#" target="_blank">
                            <span>什么值得买</span><span class="float-right">17</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <span>什么值得买</span><span class="float-right">17</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            <span>什么值得买</span><span class="float-right">17</span>
                        </a>
                    </li>
                </ul>
                <hr>
            </div>
        </div>
    </div>

</div>
</div>
<div class="footer">
    <div class="container">
        <div class="row"><p></p></div>
        <div class="row">
            <div class="col-md-4"><a href="#" class="" target="_blank"><p class="text-center">关于我们</p></a></div>
            <div class="col-md-4"><a href="#" class="" target="_blank"><p class="text-center">免责声明</p></a></div>
            <div class="col-md-4"><a href="#" class="" target="_blank"><p class="text-center">友情链接</p></a></div>
        </div>
        <div class="row ">
            <div class="col-md-12">
                <p class="text-center">Copyright 2016 © </p>
            </div>
        </div>
        <div class="row"><p></p></div>

    </div>
</div>
<!-- /.container -->


<!-- jQuery (necessary for Flat UI's JavaScript plugins) -->
<script src="./js/vendor/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="./js/vendor/video.js"></script>
<script src="./js/flat-ui.min.js"></script>

</body>
</html>
