{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h3>用户信息</h3>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <form target="_blank" href="#">
                        <div class="col-md-3 col-md-offset-2">
                            <div class="row">
                                <div class="col-md-12">
                                    <img src="avatar.png" width="200" height="200">
                                </div>
                            </div>
                            <div class="row margin-top-2">
                                <div class="col-md-9">
                                    <button class="btn btn-primary btn-sm center-h">修改信息</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-3">
                                    <span class="info-lable">用户名:</span>
                                </div>
                                <div class="col-md-5">
                                    <span class="info-content">用户名哈哈哈</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <span class="info-lable">昵称:</span>
                                </div>
                                <div class="col-md-5">
                                    <span class="info-content">用户名哈哈哈</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <span class="info-lable">邮箱:</span>
                                </div>
                                <div class="col-md-5">
                                    <span class="info-content">1234567@qq.com</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <span class="info-lable">电话:</span>
                                </div>
                                <div class="col-md-5">
                                    <span class="info-content">6636663663</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <span class="info-lable">性别:</span>
                                </div>
                                <div class="col-md-5">
                                    <span class="info-content">男或女</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <span class="info-lable">年龄:</span>
                                </div>
                                <div class="col-md-5">
                                    <span class="info-content">保密</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <span class="info-lable">是否激活:</span>
                                </div>
                                <div class="col-md-5">
                                    <span class="info-content">保密</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <span class="info-lable">关于我:</span>
                                </div>
                                <div class="col-md-5">
                                    <span class="info-content">发到付爱疯放水电费水电费水电费是否撒旦撒旦 是撒旦撒旦是</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <span class="info-lable">注册时间:</span>
                                </div>
                                <div class="col-md-5">
                                    <span class="info-content">2016-07-9</span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
{% endblock %}