{% extends 'base.html' %}
{% import '_macros.html' as macros %}
{% block title %}{{ '好货驿站-'+post.title+post.special_title }}{% endblock %}
{% block left %}
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <a href="#" target="_blank">
                    <span class="title">{{ post.title }}</span>
                    <span class="title-sp">{{ post.special_title }}</span>
                </a>
            </div>
        </div>
        <div class="row margin-top-3" style="color: #aaa;font-size: 12px">
            <div class="col-md-12">
                <div class="float-left">标签:
                    {% for t in post.tags %}
                        <a href="{{ url_for('main.tags',tag=t.name) }}" target="_blank">{{ t.name }}</a>
                        {% if not loop.last %}
                            ,
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="float-right" style="float: right"><span>评论 &nbsp; {{ post.comment_num }}</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span>{{ post.timestamp|format_date }}</span>
                </div>
            </div>
        </div>
        <div class="row margin-top-3">
            <div class="col-md-12">
                {{ post.content|safe }}
            </div>
        </div>
        <div class="row margin-top-3">
            <div class="col-md-2 col-md-offset-5">
                <a target="_blank" class="btn btn-primary btn-lg " href="{{ post.link }}">直达链接</a>
            </div>
        </div>
        <div class="row" id="comment">
            {% include 'comment.html' %}
        </div>
        <div class="row comment-input">
            <input type="hidden" id="post_id" value="{{ post.id }}">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="float-left">
                            <div class="row">
                                <div class="col-md-12">
                                    <img height="70" width="70" src="{% if current_user.is_authenticated %}

                                        {{ current_user.avatar }}{% else %}{{ url_for('static',filename='img/default_avatar.png') }} {% endif %}"/>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="#" class="content-username">{{ current_user.username }}</a>
                                </div>
                            </div>
                        </div>
                        <div class="float-left margin-left-3">
                            <textarea placeholder="请评论这个宝贝" class="form-control comment-text" rows="4"
                                      id="comment-content"></textarea>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 20px">
                    <div class="col-md-12 margin-top-1">
                        <span class="comment-warnning">你是不是忘了说点什么</span>
                        <button class="btn btn-primary float-right" name="" id="comment-add-btn">发表评论</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}