{% extends 'base.html' %}
{% block title %}{{ ''}}{% endblock %}
{% block left %}
<div class="col-md-8">
            <div class="row">
                <div class="col-md-12">
                    <a href="#" target="_blank">
                        <span class="title">这是我的我的标题,这是标题,这是标题这是标题这是标题这是标题</span>
                        <span class="title-sp">只要998,呵呵哒</span>
                    </a>
                </div>
            </div>
            <div class="row margin-top-3" style="color: #aaa;font-size: 12px">
                <div class="col-md-12">
                    <div class="float-left">标签:<a href="#" target="_blank">数码</a>,<a href="#" target="_blank">手机</a>
                    </div>
                    <div class="float-right" style="float: right"><span>评论 &nbsp; 0</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span>2016-02-08 &nbsp; 10:11</span>
                    </div>
                </div>
            </div>
            <div class="row margin-top-3">
                <div class="col-md-12">
                    <p>价格：易迅早市特价188元包邮，近期不错的价格，独脚架使用起来非常方便，除了夜景以外也基本都能应付。</p>
                    <p>描述：富图宝是国内的数码配件品牌。三脚架太重，出门旅游还是来个独脚架方便吧。这款最低工作高度490mm，最高1490mm，
                        最大负重5KG，自重0.53kg。基本可以满足买买们平时用用的需求了。</p>
                    <img src="./post.jpg" class="content-img">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr/>
                    <div class="comment">
                        <div class="row">
                            <div class="col-md-1">
                                <a href="#" target="_blank">
                                    <img src="avatar.jpg" width="70" height="70">
                                </a>
                            </div>
                            <div class="col-md-11">
                                <div class="row margin-left-1">
                                    <div class="col-md-12">
                                        <a href="#" target="_blank">我是用户名</a>
                                        <a href="#" class="float-right">回复此评论</a>
                                        <span class="float-right comment-time">2016-02-07&nbsp;10:10</span>
                                    </div>
                                </div>
                                <div class="row margin-left-1">
                                    <div class="col-md-12">
                                        <div class="comment-reply">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    引用<a href="#" target="_blank">我是评论者</a>的回复
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    我是评论内容啊啊付电费是丰富的
                                                </div>
                                            </div>
                                        </div>
                                        我是评论的内内容
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr/>
                    </div>
                </div>
            </div>
            <div class="row margin-top-3">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <input placeholder="昵称" name="" class="form-control input-sm"/>
                        </div>
                    </div>
                    <div class="row margin-top-1">
                        <div class="col-md-8">
                            <textarea name="" placeholder="请评论这个宝贝" class="form-control" rows="4" ></textarea>
                        </div>
                    </div>
                    <div class="row margin-top-1">
                        <div class="col-md-3">
                            <button class="btn btn-primary" name="">发表评论</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}